input[type=number]:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
body {
  background: #4080d0;
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  font-family: "San_Francisco", "Helvetica Neue", "Lucida Grande";
}
div#laskin {
  max-width: 426px;
  margin: auto;
  background: #000;
  color: #ffffff;
  padding: 6px;
}
.tulosteet {
  font-size: 22px;
  font-style: bold;
  color: #fff;
  padding: 0px 0px 0px 18px;
}
#error {
  background: red;
}
.luku1 {
  margin-left: 30px;
}
.syötekenttä1 {
  max-width: 95%;
}
.syötekenttä2{
  max-width: 95%;
}
.nappi {
  font-size: 42px;
  font-style: bold;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: none;
  transition: all 0.2s linear;
  margin-top: 3px;
  margin-bottom: 3px;
}
.nappi.hide {
  color: #000;
  background: #000;
}
.nappi:focus {
  outline: none;
}
.nappi#nolla {
  width: 204px;
  border-radius: 50px;
  text-align: left;
  padding-left: 40px;
}
.syötekenttä1 {
  border: none;
  background: #000;
  color: #fff;
  width: 414px;
}
.syötekenttä2 {
  border: none;
  background: #000;
  color: #fff;
}
.tuloskenttä {
  border: none;
  background: #000;
  color: #fff;
}
.syötehistoria {
  border: none;
  background: #000;
  color: #fff;
  width: 414px;
  font-size: 16px;
}
div.laskinrivi {
  /* padding-top: 3px;
  padding-bottom: 3px; */
}
.nro {
  background: #333333;
  color: #ffffff;
}
#pilkku {
  background: #333333;
  color: #ffffff;
}
#pilkku:hover {
  background: #a6a6a6;
}
.nro:hover {
  background: #a6a6a6;
}
.c {
  background: #a6a6a6;
  color: #ffffff;
}
.c:hover {
  opacity: 0.7;
}
.lt {
  background: #ff9500;
  color: #ffffff;
}
.lt:hover {
  background: #ffd300;
}
.active {
  background: #ffd300
}
